* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    height: 115px;
    background-color: rgb(58, 58, 255);
}

nav > div > img {
    position: static;
    vertical-align: middle;
    margin-left: 1%;
    min-height: 80%;
    max-height: 90%;
    min-width: 150px;
    max-width: 150px;
}

#accesos {
    font-size: 30px;
    color: white;
}

ul > li {
    list-style-type: none;
    padding-left: 10px;
}

ul > li > a {
    color: white;
    text-decoration: none;
}

ul > li > a:hover {
    color:cadetblue;
}

#login:hover{
    color:cadetblue;
}

#banner{
    text-align: center;
    position: inherit;
    margin-top: 115px;
    background-image: url("../img/banner.png");
    height: 465px;
}

#fotoCv{
    border-radius: 50%;
    width: 220px;
    margin-top: -160px;
    margin-bottom: 30px;
}

main{
    background-image: radial-gradient(79.43% 251.58% at 23.18% 73.07%, #040477 0, 
    #1212ad 55.41%, #1717ff 70.72%, #0446fd 79.34%, #0446fd 85.23%, #1717ff 92.56%, #1212ad 100%
    );
    color: #fff;
    font-family: 'Orbitron', sans-serif;
}

section{
    margin-bottom: 70px;
}

section > div{
    margin-left: 20px !important;
}

#skills{
    position: static;
}

#banner > h3{
    text-align: center;
}

h3{
    text-align: left;
}

p{
    text-align: justify;
    position: static;
}

sub{
    position: relative;
}

#nombre{
    text-align: left;
}

section > .row{
    margin-right: 0;
    margin-bottom: 10px;
}
